body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

.header-individual {
  background-image: url('../img/header-individual.jpg');
  height: 432px;
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.individual-resultados {
  background-image: url('../img/individual-resultados.jpg');
  height: 604px;
  display: flex;
  align-items: center;
}

footer {
  height: 80px;
  background-color: #2EA702;
}

.titulos {
  font-weight: 900;
}

.formulario-fondo {
  background-color: #E6E6E6;
}

form {
  padding: 0 30px 0 30px;
}

.btn-primary {
  background-color: green;
  border-color: green;
}

.btn-primary:hover {
  background-color: rgb(0, 66, 0);
  border-color: rgb(0, 66, 0);
}

ul{ 
  list-style:none; 
  
} 

li{
  list-style-image: url('../img/icon.png');
} 